//<FORM>
// Сніппет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
// @import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
//====================================================================================================
// Contacts form
//====================================================================================================

.form-contacts {
	display: flex;
	flex-direction: column;
	align-items: start;
	box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.08);
	border-radius: 48px;
	@include adaptiveValue("margin-right", 20, 0);
	@include adaptiveValue("width", 483, 280);
	@include adaptiveValue("padding", 48, 30);
	&__img-wrapper {
		position: relative;
		align-self: center;
		@include adaptiveValue("margin-bottom", 28, 20);
		&::after {
			content: '';
			position: absolute;
			top: 5px;
			right: 5px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #32CD32;
		}
	}
    &__image {
    }

	&__label{
		@include adaptiveValue("font-size", 24, 18);
		@include adaptiveValue("margin-bottom", 48, 30);
		font-weight: 500;
		color: $accentColor;
		line-height: 1.5;
		align-self: center;
		span {
			font-weight: 600;
		}
	}

    &__input {
		width: 100%;
		border-radius: 100px;
		background-color: rgba(243, 241, 236, 0.60);
		line-height: 1.5;
		padding: 12px 24px;
		@include adaptiveValue("margin-bottom", 28, 20);
    }

    &__textarea {
		width: 100%;
		border-radius: 16px;
		resize: none;
		background-color: rgba(243, 241, 236, 0.60);
		padding: 12px 24px;
		height: 72px;
		@include adaptiveValue("margin-bottom", 48, 30);
    }

	&__button {
		width: 100%;
		margin: 0;
	}
}
.name-input {
	@include adaptiveValue("font-size", 18, 16);
	margin-bottom: 8px;
	color: $accentColor;
	font-weight: 600;
	line-height: 1.5;
}