//====================================================================================================
// Hero section
//====================================================================================================
.hero {
    background-color: $bgColor;
    @include adaptiveValue("padding-top", 120, 40);
    @include adaptiveValue("padding-bottom", 200, 55);
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $mobile) {
            flex-direction: column;
            @include adaptiveValue("gap", 60, 30);
        }
    }

    &__info {
        @include adaptiveValue("width", 510, 280);
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__title {
        @include adaptiveValue("font-size", 80, 40);
        @include adaptiveValue("margin-bottom", 32, 20);
        color: $accentColor;
        font-weight: 500;
        line-height: 1.1;
        
    }

    &__text {
        line-height: 1.6;
        @include adaptiveValue("margin-bottom", 48, 24);
        overflow: hidden;
    }

    &__face {
        @include adaptiveValue("width", 652, 160);
        display: flex;
        justify-content: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
            background-color: $secondaryColor;
            border-top-right-radius: 300px;
            border-top-left-radius: 300px;
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__image {
        @include adaptiveValue("width", 464, 120);
        z-index: 2;
        animation-duration: 1500ms;
        @media (max-width: $mobile) {
            width: 200px;
        }
    }

    &__button {
        width: 100%;
        margin-left: 0;
        @include adaptiveValue("margin-bottom", 32, 16);
        z-index: 2;
        animation-delay: 1500ms;
        &:last-child {
            margin: 0;
        }
    }
}
.button {

    &__icon {
    }
}
.button--pulse {
}
.button--transparent {
}

//====================================================================================================
// Hero section
//====================================================================================================

.quality {
    background-color: $bgColor;
    @include adaptiveValue("padding-bottom", 200, 55);
    &__container {
        min-width: 0;
    }

    &__title {
        @include adaptiveValue("font-size", 40, 25);
        color: $accentColor;
        font-weight: 500;
        @include adaptiveValue("margin-bottom", 80, 40);
        line-height: 1.4;
        span {
            font-weight: 600;
        }
    }

    &__slider {
        position: relative;
        height: 550px;
        @include adaptiveValue("width", 1460, 300);
    }

    &__wrapper {
        // gap: 32px;
    }

    &__slide {
        @include adaptiveValue("width", 455, 300);
        padding: 48px 32px;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.08);
    }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-slide-active {}
.service {

    &__icon-circle {
        @include adaptiveValue("width", 60, 40);
        @include adaptiveValue("height", 60, 40);
        border-radius: 50%;
        background-color: $accentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 16, 10);
    }

    &__label {
        @include adaptiveValue("font-size", 24, 20);
        @include adaptiveValue("margin-bottom", 20, 15);
        font-weight: 600;
        line-height: 1.4;
        color: $accentColor;
    }

    &__text {
        line-height: 1.6;
        @include adaptiveValue("margin-bottom", 32, 20);
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (any-hover: hover) {
            &:hover {
                .service__icon-arrow {
                    fill: #fff;
                }
            }
        }
    }

    &__icon {
        fill: #fff;
        @include adaptiveValue("width", 32, 24);
        @include adaptiveValue("height", 32, 24);
    }

    &__icon-arrow {
        fill: $accentColor;
        transition: fill 300ms ease;
        transform: rotate(180deg);
    }
}

.swiper-pagination {
    display: flex;
    gap: 8px;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $secondaryColor;
    transition: background-color 0.3s ease;
}
.swiper-pagination-bullet-active {
    background-color: $accentColor;
}

.nav-block {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.swiper-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $accentColor;
    transition: background-color 0.3s ease;
    &__icon {
        fill: #fff;
    }
}

.swiper-button-prev {
}
.swiper-button-next {
    transform: rotate(180deg);
}
.swiper-button-disabled {
    background-color: $secondaryColor;
}
//====================================================================================================
// About section
//====================================================================================================

.about {
    background-color: $bgColor;
    @include adaptiveValue("padding-bottom", 200, 55);
    &__container {
    }

    &__info-block {
        display: flex;
        align-items: center;
    }

    &__title {
        @include adaptiveValue("font-size", 40, 25);
        color: $accentColor;
        font-weight: 500;
        @include adaptiveValue("margin-bottom", 80, 40);
        line-height: 1.4;
        span {
            font-weight: 600;
        }
    }

    &__face {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: start;
        position: relative;
        padding: 35px 0 10px 25px;
        @include adaptiveValue("margin-right", 60, 0);
        &::before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $secondaryColor;
            border-radius: 0 300px 300px 0px;
        }
    }

    &__image {
        width: 350px;
        z-index: 2;
    }

    &__info {
        width: 65%;
        padding-top: 32px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 106px;
            left: 0;
            top: 0;
            background-color: $accentColor
        }
    }

    &__text {
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("margin-bottom", 32, 24);
        line-height: 1.8;
    }

    &__button {
        width: 100%;
        margin-left: 0;
        @include adaptiveValue("margin-bottom", 32, 16);
        z-index: 2;
        animation-delay: 1500ms;
        @media (any-hover: hover) {
            &:hover {
                .button__icon-arrow {
                    fill: #fff;
                }
            }
        }
        &--flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
.button {  

    &__icon-arrow {
        transform: rotate(180deg);
        fill: $accentColor;
        transition: fill 300ms ease;
    }
}
.button--transparent {
}
.button--pulse {
}

